[
    {
        "name": "uploadAddress",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس آپلود",
            "en": "Upload Address"
        }
    },
    {
        "name": "downloadAddress",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس دانلود",
            "en": "Download Address"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]

