[
    {
        "name": "name",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Name"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]

