[
    {
        "name": "userAgent",
        "defaultValue": "",
        "translations": {
            "fa": "کارگزار",
            "en": "User-Agent"
        }
    },
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "size",
        "defaultValue": 0,
        "translations": {
            "fa": "حجم",
            "en": "Size limit"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    },
    {
        "name": "threads",
        "defaultValue": 4,
        "translations": {
            "fa": "بخش",
            "en": "Threads"
        }
    }
]
