[
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام کاربری",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "size",
        "defaultValue": 0,
        "translations": {
            "fa": "حجم",
            "en": "Size limit"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    },
    {
        "name": "upload",
        "defaultValue": false,
        "translations": {
            "fa": "آپلود",
            "en": "Upload mode"
        }
    }
]
