[
    {
        "name": "userAgent",
        "defaultValue": "",
        "translations": {
            "fa": "کارگزار",
            "en": "User-Agent"
        }
    },
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "size",
        "defaultValue": 0,
        "translations": {
            "fa": "حجم",
            "en": "Size limit"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    },
    {
        "name": "upload",
        "defaultValue": false,
        "translations": {
            "fa": "آپلود",
            "en": "Upload mode"
        }
    },
    {
        "name": "uploadType",
        "defaultValue": ["", "zip", "rar", "gz", "bz", "xz", "jpeg", "png", "exe", "bin", "txt", "gif", "psd", "mp4", "mkv", "avi", "wmv", "mp3", "ogg", "wma"],
        "translations": {
            "fa": "نوع آپلود",
            "en": "Upload Type"
        }
    },
    {
        "name": "downloadAll",
        "defaultValue": true,
        "translations": {
            "fa": "دانلود محتویات",
            "en": "Download containts"
        }
    }
]
