[
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام کاربر",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "profile",
        "defaultValue": "",
        "translations": {
            "fa": "نام صفحه",
            "en": "Profile name"
        }
    },
    {
        "name": "mediaId",
        "defaultValue": "",
        "translations": {
            "fa": "شناسه یک مدیا",
            "en": "Media Id"
        }
    },
    {
        "name": "limit",
        "defaultValue": 100,
        "translations": {
            "fa": "محدودیت تعداد",
            "en": "Downlod List limit"
        }
    },
    {
        "name": "downloadMedias",
        "defaultValue": true,
        "translations": {
            "fa": "دانلود فایل‌ها",
            "en": "Download Medias"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]
