[
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام کاربر",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]
