[
    {
        "name": "name",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Name"
        }
    },
    {
        "name": "count",
        "defaultValue": 5,
        "translations": {
            "fa": "تعداد",
            "en": "How many"
        }
    },
    {
        "name": "packetsize",
        "defaultValue": 56,
        "translations": {
            "fa": "حجم پکت",
            "en": "Packet size"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]

