[
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام کاربری",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "encryption",
        "defaultValue": ["SSL/TLS", "SslV3", "SslV2", "TlsV1.0", "TlsV1.1", "TlsV1.2"],
        "translations": {
            "fa": "رمزگذاری",
            "en": "Encryption"
        }
    },
    {
        "name": "getlist",
        "defaultValue": false,
        "translations": {
            "fa": "دریافت ایمیل‌ها",
            "en": "Get Emails List"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]
