[
    {
        "name": "rule",
        "defaultValue": [1],
        "translations": {
            "fa": "رول",
            "en": "Rule"
        }
    },
    {
        "name": "host",
        "defaultValue": "127.0.0.1",
        "translations": {
            "fa": "آدرس پراکسی",
            "en": "Host"
        }
    },
    {
        "name": "port",
        "defaultValue": 8118,
        "translations": {
            "fa": "پورت",
            "en": "Port"
        }
    },
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام‌کاربری",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "type",
        "defaultValue": ["Socks5", "Http", "No Proxy"],
        "translations": {
            "fa": "نوع",
            "en": "Type"
        }
    },
    {
        "name": "command",
        "defaultValue": "",
        "translations": {
            "fa": "دستور",
            "en": "Command"
        }
    },
    {
        "name": "finishCommand",
        "defaultValue": "",
        "translations": {
            "fa": "دستور پایان",
            "en": "Finish Command"
        }
    }
]
