[
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام کاربری",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "encryption",
        "defaultValue": ["SSL/TLS", "SslV3", "SslV2", "TlsV1.0", "TlsV1.1", "TlsV1.2"],
        "translations": {
            "fa": "رمزگذاری",
            "en": "Encryption"
        }
    },
    {
        "name": "email",
        "defaultValue": "",
        "translations": {
            "fa": "ایمیل",
            "en": "To"
        }
    },
    {
        "name": "subject",
        "defaultValue": "",
        "translations": {
            "fa": "موضوع",
            "en": "Email Subject"
        }
    },
    {
        "name": "body",
        "defaultValue": "",
        "translations": {
            "fa": "متن",
            "en": "Email Body"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]
