[
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "community",
        "defaultValue": "",
        "translations": {
            "fa": "جامعه",
            "en": "Community"
        }
    },
    {
        "name": "oid",
        "defaultValue": "",
        "translations": {
            "fa": "oid",
            "en": "OID"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]

