[
    {
        "name": "sponsor",
        "defaultValue": "",
        "translations": {
            "fa": "اسپانسر",
            "en": "Sponsor"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 120,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]

