[
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام کاربری",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "command",
        "defaultValue": "",
        "translations": {
            "fa": "دستور",
            "en": "Command"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]
