[
    {
        "name": "channel",
        "defaultValue": "",
        "translations": {
            "fa": "کانال",
            "en": "Channel name"
        }
    },
    {
        "name": "messageId",
        "defaultValue": 0,
        "translations": {
            "fa": "آی‌دی پیغام",
            "en": "Message to download"
        }
    },
    {
        "name": "limit",
        "defaultValue": 100,
        "translations": {
            "fa": "محدودیت تعداد",
            "en": "Downlod List limit"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]
