[
    {
        "name": "address",
        "defaultValue": "",
        "translations": {
            "fa": "آدرس",
            "en": "Address"
        }
    },
    {
        "name": "port",
        "defaultValue": 5222,
        "translations": {
            "fa": "پورت",
            "en": "Port"
        }
    },
    {
        "name": "type",
        "defaultValue": ["Xmpp"],
        "translations": {
            "fa": "نوع",
            "en": "Type"
        }
    },
    {
        "name": "username",
        "defaultValue": "",
        "translations": {
            "fa": "نام کاربری",
            "en": "Username"
        }
    },
    {
        "name": "password",
        "defaultValue": "",
        "translations": {
            "fa": "کلمه عبور",
            "en": "Password"
        }
    },
    {
        "name": "domain",
        "defaultValue": "",
        "translations": {
            "fa": "دامنه",
            "en": "Domain"
        }
    },
    {
        "name": "target",
        "defaultValue": "",
        "translations": {
            "fa": "کاربر هدف",
            "en": "Target"
        }
    },
    {
        "name": "timeout",
        "defaultValue": 60,
        "translations": {
            "fa": "حداکثر زمان",
            "en": "Timeout"
        }
    }
]

